<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <button @click="show1"></button>
    <button @click="show2"></button>
    <component :is="msg"></component>
</div>

<template id="App1">
    <div>
        <h1>我是全局组件1</h1>
    </div>
</template>

<template id="App2">
    <h2>我是全局组件2</h2>
</template>

<script src="../vue/vue.js"></script>


<script>

    Vue.component("App1", {
        template: "#App1"
    });

    Vue.component("App2",{
        template:"#App2"
    });

    new Vue({
        data:{
          msg:"App1"
        },
        methods:{
            show1: function () {
                this.msg="App1"
            },
            show2: function () {
                this.msg="App2"
            }
        }
    }).$mount("#app");

</script>

</body>
</html>
